body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  margin: 0;
}

header {
  background: #1e293b;
  padding: 20px;
  text-align: center;
}

section {
  padding: 20px;
}

.project {
  background: #1e293b;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}
a {
  color: #38bdf8;
}